[Unit]
Description=Asterion
After=multi-user.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/bstafford/Asterion
ExecStart=python3.8 /home/bstafford/Asterion/star.py
User=bstafford

[Install]
WantedBy=multi-user.target