[Unit]
Description=Asterion
After=multi-user.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/bstafford/Asterion
ExecStart=java -jar /home/bstafford/Asterion/Lavalink.jar
User=bstafford

[Install]
WantedBy=multi-user.target